.today-resturant {
  color:#435971;
  font-weight: 700;
  display: flex;
  align-items: center;
  .resturant-welcome {
    font-size: 2.1rem;
    line-height: 2.9rem;
  }
  .resturant-brand {
    font-size: 3.428rem;
    line-height: 4.46rem;
  }
}
