<div class="row">
    <div class="col-12 text-center">
        Users
    </div>
</div>
<div class="row">
    <div class="col-4" *ngFor="let user of usersRes.users">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{user.name}}</h5>
                <!-- <p class="card-text">{{order?.createdAt | date: 'dd/MM/yyyy | hh:mm'}}</p> -->
                <p class="card-text">{{user?.email}}</p>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <a href="#" class="btn btn-primary">Total Users: {{usersRes?.totalItems}}</a>
    </div>
</div>