<!-- NEW STRUCTURE -->
<div class="row gy-3">
    <div class="col-12">
        <div class="row mt-5">
            <div class="col-12">
                <h4>Manage Users</h4>
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-table-filter (onFilter)="onFilter($event)"></app-table-filter>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h5 class="table-heading">Admins</h5>
                <table class="table table-borderless" *ngIf="admins.length > 0 else noAdminsFound">
                    <thead>
                        <tr class="table-header">
                            <th>Name</th>
                            <th class="text-center">Mail</th>
                            <th class="text-center">Wallet</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of admins">
                            <td>{{user.name}}</td>
                            <td class="text-center">{{user?.email}}</td>
                            <td class="wallet-amount text-center" [class.wallet-amount-minus]="user.wallet < 0">{{user?.wallet? user.wallet : 0 | number}} EGP</td>
                            <td class="text-center">
                                <button class="btn btn-primary btn-pay me-2">
                                    Pay
                                </button>
                                <button class="btn btn-outline-danger btn-remove-admin">
                                    Remove admin
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noAdminsFound>
                    <app-no-data-found [msg]="'Sorry, No Admins Found For Your Search'"></app-no-data-found>
                </ng-template>
            </div>
        </div>
        
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h5 class="table-heading">Users</h5>
                <table class="table table-borderless" *ngIf="users.length > 0 else noUsersFound">
                    <thead>
                        <tr class="table-header">
                            <th>Name</th>
                            <th class="text-center">Mail</th>
                            <th class="text-center">Wallet</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.name}}</td>
                            <td class="text-center">{{user?.email}}</td>
                            <td class="text-center wallet-amount"  [class.wallet-amount-minus]="user.wallet < 0">{{user?.wallet? user.wallet : 0 | number}} EGP</td>
                            <td class="text-center">
                                <button class="btn btn-primary btn-pay me-2">
                                    Pay
                                </button>
                                <button class="btn btn-outline-info btn-make-admin">
                                    Make admin
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noUsersFound>
                    <app-no-data-found [msg]="'Sorry, No Admins Found For Your Search'"></app-no-data-found>
                </ng-template>
            </div>
        </div>
        
    </div>
</div>