<div class="row justify-content-center poll" *ngIf="showPoll">
  <!-- <div class="row justify-content-center"> -->
  <div class="col-12">
    <p class="poll-vote">Thanks for your vote, wait the result in</p>
    <p class="poll-vote">Vote for one of this restaurants in</p>
    <app-count-down [endTime]="pollEndTime"></app-count-down>
    <ul class="poll-list">
      <li *ngFor="let resturant of resturants"
        [ngClass]="{'selected': (selectedResturant?._id === resturant?._id) && !currentUser?.voted}"
        (click)="selectResturant(resturant)">
        <span>{{resturant?.name}}</span><span>{{resturant?.vote}}</span>
      </li>
    </ul>
    <button class="btn btn-primary w-100 poll-submit" (click)="vote()"
      [disabled]="!selectedResturant || currentUser?.voted">Submit Vote</button>
  </div>
</div>