//  Bootstrap override variables
$primary: #5D5FEF;
$secondary: #828282;
// $success: ;
$info: #56CCF2;
// $warning: ;
$danger: #EB5757;
// $light: ;
// $dark: ;
$nav-link-font-size: 2.4rem;
$nav-link-font-weight: 500;
$red: #c0392b;
// $custom-colors: ("action": #FFC233);
// $theme-colors: map-merge($theme-colors, $custom-colors);

// My Variables

$main-color: $primary;
$main-secondary-color: $info;
$border-color: #d8d8d8;
$text-main-color: #212429;
$dark-color: #000;
$light-color: #fff;
$light-gray: #f2f2f2;
$main-danger: $danger;
$main-gray: $secondary;
$colors: (main: $main-color,
  main-secondary: $main-secondary-color,
  main-danger: $main-danger,
  main-gray: $main-gray);
$main-10: tint-color($main-color, 100%);
$main-100: tint-color($main-color, 80%);
$main-200: tint-color($main-color, 60%);
$main-300: tint-color($main-color, 40%);
$main-400: tint-color($main-color, 20%);
$main-500: $main-color;
$main-600: shade-color($main-color, 20%);
$main-700: shade-color($main-color, 40%);
$main-800: shade-color($main-color, 60%);
$main-900: shade-color($main-color, 80%);

$main-secondary-10: tint-color($main-secondary-color, 100%);
$main-secondary-100: tint-color($main-secondary-color, 80%);
$main-secondary-200: tint-color($main-secondary-color, 60%);
$main-secondary-300: tint-color($main-secondary-color, 40%);
$main-secondary-400: tint-color($main-secondary-color, 20%);
$main-secondary-500: $main-secondary-color;
$main-secondary-600: shade-color($main-secondary-color, 20%);
$main-secondary-700: shade-color($main-secondary-color, 40%);
$main-secondary-800: shade-color($main-secondary-color, 60%);
$main-secondary-900: shade-color($main-secondary-color, 80%);

$main-danger-10: tint-color($main-danger, 100%);
$main-danger-100: tint-color($main-danger, 80%);
$main-danger-200: tint-color($main-danger, 60%);
$main-danger-300: tint-color($main-danger, 40%);
$main-danger-400: tint-color($main-danger, 20%);
$main-danger-500: $main-danger;
$main-danger-600: shade-color($main-danger, 20%);
$main-danger-700: shade-color($main-danger, 40%);
$main-danger-800: shade-color($main-danger, 60%);
$main-danger-900: shade-color($main-danger, 80%);

$main-gray-10: tint-color($main-gray, 100%);
$main-gray-100: tint-color($main-gray, 80%);
$main-gray-200: tint-color($main-gray, 60%);
$main-gray-300: tint-color($main-gray, 40%);
$main-gray-400: tint-color($main-gray, 20%);
$main-gray-500: $main-gray;
$main-gray-600: shade-color($main-gray, 20%);
$main-gray-700: shade-color($main-gray, 40%);
$main-gray-800: shade-color($main-gray, 60%);
$main-gray-900: shade-color($main-gray, 80%);



$main-font-size: 1rem;
$input-font-size: $main-font-size;
$input-addon-font-size: $main-font-size * 1.25;
$poll-font-size: $main-font-size * 1.2;


// $main-100: tint-color($main-color, 80%);
// $main-200: tint-color($main-color, 60%);
// $main-300: tint-color($main-color, 40%);
// $main-400: tint-color($main-color, 20%);
// $main-500: $main-color;
// $main-600: shade-color($main-color, 20%) ;
// $main-700: shade-color($main-color, 40%) ;
// $main-800: shade-color($main-color, 60%) ;
// $main-900: shade-color($main-color, 80%) ;

// $main-secondary-100: tint-color($main-secondary-color, 80%);
// $main-secondary-200: tint-color($main-secondary-color, 60%);
// $main-secondary-300: tint-color($main-secondary-color, 40%);
// $main-secondary-400: tint-color($main-secondary-color, 20%);
// $main-secondary-500: $main-secondary-color;
// $main-secondary-600: shade-color($main-secondary-color, 20%) ;
// $main-secondary-700: shade-color($main-secondary-color, 40%) ;
// $main-secondary-800: shade-color($main-secondary-color, 60%) ;
// $main-secondary-900: shade-color($main-secondary-color, 80%) ;

// $main-danger-100: tint-color($main-danger, 80%);
// $main-danger-200: tint-color($main-danger, 60%);
// $main-danger-300: tint-color($main-danger, 40%);
// $main-danger-400: tint-color($main-danger, 20%);
// $main-danger-500: $main-danger;
// $main-danger-600: shade-color($main-danger, 20%) ;
// $main-danger-700: shade-color($main-danger, 40%) ;
// $main-danger-800: shade-color($main-danger, 60%) ;
// $main-danger-900: shade-color($main-danger, 80%) ;

$mains: ("10": $main-10,
  "100": $main-100,
  "200": $main-200,
  "300": $main-300,
  "400": $main-400,
  "500": $main-500,
  "600": $main-600,
  "700": $main-700,
  "800": $main-800,
  "900": $main-900) !default;
$main-secondaries: ("10": $main-secondary-10,
  "100": $main-secondary-100,
  "200": $main-secondary-200,
  "300": $main-secondary-300,
  "400": $main-secondary-400,
  "500": $main-secondary-500,
  "600": $main-secondary-600,
  "700": $main-secondary-700,
  "800": $main-secondary-800,
  "900": $main-secondary-900) !default;
$main-dangers: ("10": $main-danger-10,
  "100": $main-danger-100,
  "200": $main-danger-200,
  "300": $main-danger-300,
  "400": $main-danger-400,
  "500": $main-danger-500,
  "600": $main-danger-600,
  "700": $main-danger-700,
  "800": $main-danger-800,
  "900": $main-danger-900) !default;