<div class="row">
    <div class="col-12 text-center">
        Resturant: {{resturant?.name}}
    </div>
</div>
<div class="row">
    <div class="col-4" *ngFor="let order of orders?.orders">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{order?.userId?.name}}</h5>
                <!-- <p class="card-text">{{order?.createdAt | date: 'dd/MM/yyyy | hh:mm'}}</p> -->
                <p class="card-text">Order Price:{{order?.totalOrderPrice}}</p>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <button [routerLink]="'/admin/orders/collected-order'"class="btn btn-primary">Collect Order</button>
    </div>
</div>

