.single-order-card {
    padding: 1.125rem;
    background-color: #E0E0E069;
    border-radius: .5rem;
}

.user-avatar {
    background-color: #5D5FEF;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.user-avatar span {
    text-align: center;
    font-size: 4.1rem;
    line-height: 1.1em;
    color: #fff;
}

.orders-list {
    &-item {
        display: flex;
        justify-content: space-between;
    }
}