.single-order-card {
    padding: 1.125rem;
    background-color: #E0E0E069;
    border-radius: .5rem;
}

.orders-list {
    &-item {
        display: flex;
        justify-content: space-between;
    }
}