<header class="header" *ngIf="userIsAuthenticated">
  <div class="header-container">
    <div class="user">
      <span class="user-welcome" (click)="navigate('/profile')"><i class="fas fa-user user-welcome--icon fa-2x"></i>
        {{loggedUser?.name}}</span>
    </div>
    <div class="links">
      <ul class="links-list">
        <li *ngIf="loggedUser?.isAdmin"><a (click)="navigate('/admin/users')"><i class="fas fa-users-cog"></i> Users</a>
        </li>
        <li><a (click)="navigate('/admin')"><i class="fas fa-shopping-cart"></i>Wallet</a></li>
        <li><a (click)="navigate('/admin/resturants')"><i class="fas fa-shopping-cart"></i>My Resturants</a></li>
        <li><a (click)="navigate('admin/orders')"><i class="fas fa-wallet"></i> Food Orders</a></li>
        <li><a (click)="navigate('/home')"><i class="fas fa-home"></i> Home</a></li>
      </ul>
      <ul class="links-list">
        <li><a (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </div>
  </div>
</header>