<div class="row mt-5">
  <div class="col">
    <h4>Add new item</h4>
  </div>
  <div class="col-auto text-end">
    <button type="submit" class="btn btn-save text-bold">
      Save
    </button>
  </div>
</div>


<form #addMenuItemForm=ngForm (ngSubmit)="addMenuItem(addMenuItemForm)">
  <div class="row">
    <div class="col-9">
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Menu Item Name" #menuItemName
          [(ngModel)]="menuItem.name" required minlength="3">
        <div class="has-error" *ngIf="errors && errors[getIndex(errors, menuItemName)]">
          {{errors[getIndex(errors, menuItemName)]?.msg}}
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <input type="number" class="form-control" name="price" placeholder="Menu Item Price" #menuItemPrice
          [(ngModel)]="menuItem.price" required minlength="1">
        <div class="has-error" *ngIf="errors && errors[getIndex(errors, menuItemPrice)]">
          {{errors[getIndex(errors, menuItemPrice)]?.msg}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <select class="form-select" name="resturant" aria-label="Default select example" #resturant
        [(ngModel)]="menuItem.resturantId" required>
        <option selected>Select Resturant</option>
        <option *ngFor="let resturant of resturants" [value]="resturant._id">{{resturant.name}}</option>
      </select>
      <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturant)]">
        {{errors[getIndex(errors, resturant)]?.msg}}
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="addMenuItemForm.invalid">Add Menu Item</button>
</form>