<!-- <form #editResturantForm=ngForm (ngSubmit)="updateResturant()">
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Resturant Name" #resturantName
            [(ngModel)]="resturant.name" required minlength="5">
        <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantName)]">
            {{errors[getIndex(errors, resturantName)]?.msg}}
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="content" placeholder="Resturant Content" #resturantContent
            [(ngModel)]="resturant.content" required minlength="5">
        <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantContent)]">
            {{errors[getIndex(errors, resturantContent)]?.msg}}
        </div>
    </div>
    <button type="submit" [disabled]="editResturantForm.invalid">Update Resturant</button>
</form> -->

<form #editResturantForm=ngForm (ngSubmit)="updateResturant(editResturantForm)">
    <div class="row mt-5">
        <div class="col">
            <h4 class="text-bold">ُEdit Restaurant ({{resturant.name}})</h4>
        </div>
        <div class="col-auto text-end">
            <button type="submit" class="btn btn-save text-bold">
                Save
            </button>
        </div>
    </div>
    <!-- Form -->

    <div class="row my-3">
        <div class="col-6">
          <input type="text" class="form-control" name="name" placeholder="Resturant Name" #resturantName
            [(ngModel)]="resturant.name" required minlength="5">
          <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantName)]">
            {{errors[getIndex(errors, resturantName)]?.msg}}
          </div>
        </div>
        <div class="col-6">
          <input type="text" class="form-control" name="type" placeholder="Resturant Content" #resturantType
            [(ngModel)]="resturant.type" required minlength="5">
          <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantType)]">
            {{errors[getIndex(errors, resturantType)]?.msg}}
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <input type="text" class="form-control" name="phone" placeholder="Phone Number" #resturantPhone
            [(ngModel)]="resturant.phone" required minlength="5" maxlength="11">
          <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantPhone)]">
            {{errors[getIndex(errors, resturantPhone)]?.msg}}
          </div>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" name="savedPhone" placeholder="Saved Phone" #resturantSavedPhone
            [(ngModel)]="resturant.savedPhone" required minlength="11" maxlength="11">
          <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantSavedPhone)]">
            {{errors[getIndex(errors, resturantSavedPhone)]?.msg}}
          </div>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" name="elmenusUrl" placeholder="Elmenues URL" #resturantElmenusUrl
            [(ngModel)]="resturant.elmenusUrl">
          <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantElmenusUrl)]">
            {{errors[getIndex(errors, resturantElmenusUrl)]?.msg}}
          </div>
        </div>
      </div>
    <div class="row mb-3">
        <div class="col-12">
            <h5 class="text-bold text-upload">Upload menu images</h5>
        </div>
        <div class="col-12">
            <div class="upload-file" (click)="browseImages.click()">
                <div class="row">
                    <div class="col">
                        <p>
                            No File Selected
                        </p>
                    </div>
                    <div class="col-auto text-end">
                        <button class="btn btn-primary btn-browse-file">
                            Browse
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" hidden>
            <input #browseImages class="form-control" id="formFileLg" type="file" multiple>
        </div>
    </div>
</form>

<!-- <app-menu-details [resturantId]="resturantId"></app-menu-details> -->