<!-- <button class="btn btn-main" [routerLink]="'orders'">orders</button>
<button class="btn btn-main" [routerLink]="'resturants'">Resturants</button>
<button class="btn btn-main" [routerLink]="'users'">Users</button>
<button class="btn btn-main" [routerLink]="'menu'">Menu</button>
<button class="btn btn-main" [routerLink]="'collected-order'">Collected orders</button> -->
<div class="row">
    <div class="col-md-3">
        <app-aside></app-aside>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>