<!-- <form #addResturantForm=ngForm (ngSubmit)="addResturant(addResturantForm)">
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Resturant Name" #resturantName
      [(ngModel)]="resturant.name" required minlength="5">
    <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantName)]">
      {{errors[getIndex(errors, resturantName)]?.msg}}
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="content" placeholder="Resturant Content" #resturantContent
      [(ngModel)]="resturant.content" required minlength="5">
    <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantContent)]">
      {{errors[getIndex(errors, resturantContent)]?.msg}}
    </div>
  </div>
  <button type="submit" [disabled]="addResturantForm.invalid">Add Resturant</button>
</form> -->

<!-- New Layout -->

<div class="row mt-5">
  <div class="col-6">
    <h3 class="text-bold">Add new Restaurant</h3>
  </div>
  <div class="col-6 text-end">
    <button type="submit" class="btn btn-save text-bold">
      Save
    </button>
  </div>
</div>

<!-- Form -->

<form>
  <div class="row my-3">
    <div class="col-6">
      <input type="text" class="form-control" name="name" placeholder="Resturant Name" #resturantName
        [(ngModel)]="resturant.name" required minlength="5">
      <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantName)]">
        {{errors[getIndex(errors, resturantName)]?.msg}}
      </div>
    </div>
    <div class="col-6">
      <input type="text" class="form-control" name="content" placeholder="Resturant Content" #resturantContent
        [(ngModel)]="resturant.content" required minlength="5">
      <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturantContent)]">
        {{errors[getIndex(errors, resturantContent)]?.msg}}
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Phone Number">
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Saved Phone">
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Elmenues URL">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <h5 class="text-bold text-upload">Upload menu images</h5>
    </div>
    <div class="col-12">
      <div class="upload-file" (click)="browseImages.click()">
        <div class="row">
          <div class="col">
            <p>
              No File Selected
            </p>
          </div>
          <div class="col-auto text-end">
            <button class="btn btn-primary btn-browse-file">
              Browse
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" hidden>
      <input #browseImages class="form-control" id="formFileLg" type="file" multiple>
    </div>
  </div>
</form>