<div *ngIf="resturants?.length > 0 else noDataFound">

</div>
<div class="border p-2" *ngFor="let res of resturants">
  <h6 class="d-flex justify-content-between" [routerLink]="res._id">
    {{res?.name}}
    <span>
      <i class="fa-solid fa-bell text-danger ms-2"></i>
      <i class="fa-solid fa-hand-pointer text-main"></i>
    </span>
    <span class="text-muted"></span>
  </h6>
  <p class="m-0">{{res?.content}}</p>
  <button class="btn btn-warning" [routerLink]="'edit-resturant/'+res._id">Edit</button>
  <button class="btn btn-danger" (click)="deleteResturant(res._id)">Delete</button>
</div>

<!-- Paginator -->
<button *ngIf="currentPage <= (totalItems/perPage)" (click)="nextPage()">Next</button>
<button *ngIf="currentPage > 1" (click)="prevPage()">Prev</button>

<ng-template #noDataFound>
  <app-no-data-found [msg]="'Sorry, No Resturants Found'"></app-no-data-found>
</ng-template>