<div class="row gy-3">
    <div class="col-12">
        <div class="row mt-5">
            <div class="col-12">
                <h4>Food Orders</h4>
            </div>
        </div>
    </div>
    <div class="col-12">
        <input type="text" class="form-control search-input" placeholder="Seach by Date, restaurant name" name="filter">
    </div>
</div>

<div class="row my-3">
    <div class="col-12">
        <div class="today-order-card">
            <div class="row">
                <div class="col-6">
                    <p>Monday, 12 March 2022</p>
                    <h4 class="my-3">Mcdonald's</h4>
                    <p class="text-bold">Total cost <span>1400 EGP</span></p>
                </div>
                <div class="col-6 text-end align-self-end">
                    <button class="btn btn-info btn-see-order">
                        See Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row gy-3">
    <div class="col-12">
        <div class="row mt-5">
            <div class="col-12">
                <h4>Orders History</h4>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="history-order-card my-2">
            <div class="row">
                <div class="col-6">
                    <h4 class="text-blue my-2">Mcdonald's</h4>
                    <p class="history-date">Monday, 12 March 2022</p>
                </div>
                <div class="col-6 text-end align-self-end">
                    <p class="text-bold pricing-text">Total <span class="text-blue">1400 EGP</span></p>
                </div>
            </div>
        </div>
    </div>
</div>