.today-order-card {
    background-color: #5D5FEF;
    padding: 33px 20px;
    border-radius: 5px;
    color: #fff;
}

.history-order-card {
    padding: 20px 35px;
    box-shadow: rgba(93, 95, 239, 0.25) 0px 4px 4px;
    border-radius: 10px;
}

.pricing-text span {
    margin-left: 15px;
}