<div class="row gy-3">
  <div class="col-12">
    <div class="row my-3">
      <div class="col">
        <h4>Menu Items</h4>
      </div>
      <div class="col-auto text-end">
        <button class="btn btn-primary px-5" [routerLink]="'/admin/menu/add-menu-item'">
          <i class="fas fa-plus"></i> Add Menu Item
        </button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <app-table-filter (onFilter)="onFilter($event)" [filterValue]="filterValue"></app-table-filter>
      </div>
      <div class="col-6">
        <div class="form-group">
          <select class="form-select" (change)="filterMenuByResturant()" name="resturant" placeholder="Select Resturant" aria-label="Default select example" #resturant [(ngModel)]="selectedResturantId" required>
            <option value="" disabled selected hidden>Filter By Resturant</option>
            <option value="">All Resturants</option>
            <option *ngFor="let resturant of resturants" [value]="resturant._id">{{resturant.name}}</option>
          </select>
          <!-- <div class="has-error" *ngIf="errors && errors[getIndex(errors, resturant)]">
            {{errors[getIndex(errors, resturant)]?.msg}}
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div *ngIf="totalItems > 0 else noDataFound">
    
      <!-- TABLE -->
    
      <table class="table table-borderless">
        <thead>
          <tr class="table-header">
            <th>Name & ING.</th>
            <th class="text-center">Price</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menuItem of resturantMenu">
            <td [routerLink]="menuItem._id">{{menuItem?.name}}</td>
            <td class="text-center">{{menuItem?.price}}</td>
            <td class="text-center mw-90">
              <button class="btn btn-info btn-pay mx-2"
                [routerLink]="'edit-menu-item/'+menuItem._id">Edit</button>
              <button class="btn btn-outline-danger" (click)="deleteMenuItem(menuItem._id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Paginator -->
      <app-paginator [currentPage]="currentPage" [perPage]="perPage" [totalItems]="totalItems" (pageChange)="goToPage($event)"></app-paginator>
    </div>
    
    <!-- <div class="border p-2" *ngFor="let menuItem of resturantMenu">
      <h6 class="d-flex justify-content-between" [routerLink]="menuItem._id">
        {{menuItem?.name}}
        <span>
          <i class="fas fa-bell text-danger ms-2"></i>
          <i class="fas fa-hand-pointer text-main"></i>
        </span>
        <span class="text-muted"></span>
      </h6>
      <p class="m-0">{{menuItem?.price}}</p>
      <button class="btn btn-warning" [routerLink]="'edit-menu-item/'+menuItem._id">Edit</button>
      <button class="btn btn-danger" (click)="deleteMenuItem(menuItem._id)">Delete</button>
    </div> -->
    
    
    
    <ng-template #noDataFound>
      <app-no-data-found [msg]="'Sorry, No Menu Items Found'"></app-no-data-found>
    </ng-template>
  </div>
</div>

