<div class="flash-message-main">
  <p class="m-0">Thanks, Your order has submitted successfully</p>
</div>
<table class="menu-table">
  <tr class="menu-table-head">
    <th>Product Name</th>
    <th>Price</th>
    <th>Add To Cart</th>
    <th>Total</th>
  </tr>
  <!-- <ng-container> -->
  <tr class="menu-table-items" *ngFor="let item of order?.items">
    <td>{{item?.name}}</td>
    <td class="menu-table-items-price">
      {{item?.price}}
      <span class="menu-table-items-price-unit">EGP</span>
    </td>
    <td>
      <!-- <button class="btn btn-action btn-sm" (click)="addItemToCart(item)" *ngIf="!item?.count else itemCount"><i
            class="fas fa-shopping-cart"></i> Add to
          cart</button> -->
      <!-- <ng-template #itemCount> -->
      <button *ngIf="item?.count > 1" class="btn btn-info btn-sm" (click)="decreseOrderCount(item)">-</button>
      <a><i *ngIf="item.count == 0" class="fas text-primary fa-shopping-cart" (click)="increaseOrderCount(item)"></i></a>
      <a><i *ngIf="item.count == 1" class="fas text-main-danger fa-trash" (click)="decreseOrderCount(item)"></i></a>
      <span *ngIf="item?.count > 0" class="cart-count">{{item?.count}}</span>
      <button *ngIf="item?.count > 0 && item?.count < 4" class="btn btn-info btn-sm"
        (click)="increaseOrderCount(item)">+</button>
      <!-- </ng-template> -->
    </td>
    <td class="menu-table-items-price">
      {{item.price * item.count}}
      <span class="menu-table-items-price-unit">EGP</span>
    </td>
  </tr>
  <!-- </ng-container> -->
  <tr class="menu-table-items">
    <th colspan="3">Total Price Without Taxes Or Delivery Fees</th>
    <td class="menu-table-items-price">
      {{getTotalOrderPrice()}}
      <span class="menu-table-items-price-unit">EGP</span>
    </td>
  </tr>
</table>

<div class="row justify-content-end">
  <div class="col-md-4">
    <button [disabled]="order?.items?.length <= 0" class="btn btn-primary w-100" (click)="submitOrder()">Confirm Order</button>
  </div>
</div>